In [27]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [29]:
pd.__version__

'1.5.3'

In [10]:
# conect = psycopg2.connect(dbname='ny_taxi',user='root',password='root',host='localhost',port='5433')

In [30]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [6]:
engine.connect()

In [31]:
query = """
SELECT 1 as number;
"""

print(pd.read_sql(query, con=engine))

   number
0       1

In [14]:
# conect.execute("SELECT version()")

In [15]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [16]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [17]:
print(pd.io.sql.get_schema(df,name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [18]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [19]:
print(pd.io.sql.get_schema(df,name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [20]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [23]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [24]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [25]:
from time import time

In [26]:
while True:
    try:
        t0 = time()
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        print(f'chunk loaded in {time()-t0} seconds')
    except StopIteration:
        print('Done!')
        break

chunk loaded in 18.283631801605225 seconds
chunk loaded in 15.230869054794312 seconds

/var/folders/yy/hl3bcs2d0yg2c4fng_n5cmb80000gp/T/ipykernel_72408/1166313489.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

chunk loaded in 17.856613874435425 seconds
chunk loaded in 8.4547598361969 seconds
Done!

In [2]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
print(df_zones.head())

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [12]:
df = next(df_iter)

In [14]:
print(df.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1         2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2         2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3         2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4         2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0           1            65           189                5           2.00
1           1            97           225                5           3.20
2           1            37            61                5           2.99
3           1           145           112                1           1.73
4           1           112           198                1           3.42

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         10.5    0.5      0.5        2.36           0.0        NaN
1         12.0    0.5      0.5        0.00           0.0        NaN
2         12.0    0.5      0.5        0.00           0.0        NaN
3          7.5    0.5      0.5        1.50           0.0        NaN
4         14.0    0.5      0.5        3.06           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         14.16             1          1
1                    0.3         13.30             2          1
2                    0.3         13.30             2          1
3                    0.3         10.30             1          1
4                    0.3         18.36             1          1

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

In [18]:
print(df.head(0))

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [21]:
df.to_sql(name='green_taxi_data_dev', con=engine, if_exists='append')

1000

In [22]:
import pyarrow.parquet as pq

In [23]:
trips = pq.read_table('green_tripdata_2019-09.parquet')

In [24]:
trips = trips.to_pandas()

In [26]:
print(trips.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1         2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2         2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3         2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4         2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            65           189              5.0           2.00
1         1.0            97           225              5.0           3.20
2         1.0            37            61              5.0           2.99
3         1.0           145           112              1.0           1.73
4         1.0           112           198              1.0           3.42

   fare_amount  extra  mta_tax  tip_amount  tolls_amount ehail_fee  \
0         10.5    0.5      0.5        2.36           0.0      None
1         12.0    0.5      0.5        0.00           0.0      None
2         12.0    0.5      0.5        0.00           0.0      None
3          7.5    0.5      0.5        1.50           0.0      None
4         14.0    0.5      0.5        3.06           0.0      None

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         14.16           1.0        1.0
1                    0.3         13.30           2.0        1.0
2                    0.3         13.30           2.0        1.0
3                    0.3         10.30           1.0        1.0
4                    0.3         18.36           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0